{% extends 'cover/index.html' %} 
{% block title %} About {% endblock  %} 
{% block body %} 

{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />

<div class="nsk" style="background: url(/static/assets/fusion.jpg">
<div class="container col-xxl-10 px-5 py-6" >
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/static/assets/about1.png" class="d-block mx-lg-auto img-fluid" alt="" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-4 fw-bold lh-3 mb-5" style="background: transparent linear-gradient(135deg,#FF673D,#ffdb6b) 0 0 no-repeat padding-box;border-radius: 30px;padding-left: 135px; padding-bottom: 5px">ABOUT US</h1>
        <p class="lead" style="color: white">Thousands fight for their lives from low economic conditions, for midical emergencies every day. Families are often in trouble due to lack of support and help. 
        At DonateIndia, we believe in saving lives by collecting donation. With the help of millions of donors online we are trying to reach each and every indivitual to ensure that no life every lost due to lack of money </p>
        <div class="d-grid gap-4 d-md-flex justify-content-md-start py-2">
          <a class="btn btn-light btn-lg px-5 me-md-2" href="/contact" role="button">Get In Touch >></a>
          {% comment %} <button type="button" class="btn btn-outline-light btn-lg px-5 me-md-2" href="\contact">Get In Touch >></button> {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</div>

{% comment %} font-size: 75px;background: -webkit-linear-gradient(#F8FF0C, #FF3200);-webkit-background-clip: text;-webkit-text-fill-color: transparent {% endcomment %}


<div class="b-example-divider"></div>

<div id="carouselExampleIndicators" class="carousel slide py-3" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/assets/say.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/assets/say1.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/assets/say3.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %}
